<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="uih.css">
</head>
<body>
<h2>Dashboard</h2>
<div class="dboxes">
    <div class="dbox">
        <div class="ddetails">
            <h2>Total Sales</h2>
            <h3>$233545</h3>
        </div>
        <div class="dicon">
            <i class='bx bx-bar-chart-square'></i>
        </div>
    </div>
    <div class="dbox">
        <div class="ddetails">
            <h2>Cash in Hands</h2>
            <h3>$233545</h3>
        </div>
        <div class="dicon">
            <i class='bx bx-spreadsheet'></i>
        </div>
    </div>
    <div class="dbox">
        <div class="ddetails">
            <h2>Depositions</h2>
            <h3>$233545</h3>
        </div>
        <div class="dicon">
            <i class='bx bx-bar-chart-square'></i>
        </div>
    </div>
    <div class="dbox">
        <div class="ddetails">
            <h2>Withdrawls</h2>
            <h3>$233545</h3>
        </div>
        <div class="dicon">
            <i class='bx bx-bar-chart-square'></i>
        </div>
    </div>
    <div class="dbox">
        <div class="ddetails">
            <h2>Expenses</h2>
            <h3>$233545</h3>
        </div>
        <div class="dicon">
            <i class='bx bx-bar-chart-square'></i>
        </div>
    </div>
    <div class="dbox">
        <div class="ddetails">
            <h2>Stock value</h2>
            <h3>$233545</h3>
        </div>
        <div class="dicon">
            <i class='bx bx-bar-chart-square'></i>
        </div>
    </div>
    <div class="dbox">
        <div class="ddetails">
            <h2>Due to Suppliers</h2>
            <h3>$233545</h3>
        </div>
        <div class="dicon">
            <i class='bx bx-bar-chart-square'></i>
        </div>
    </div>
    <div class="dbox">
        <div class="ddetails">
            <h2>Money to be get</h2>
            <h3>$233545</h3>
        </div>
        <div class="dicon">
            <i class='bx bx-bar-chart-square'></i>
        </div>
    </div>
</div>
</body>
</html>