<!--expenses.html-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Depositions</title>
  <link rel="stylesheet" th:href="@{/css/popup.css}">
</head>
<body>
<div class="sectionheading">
  <h1>Depositions</h1>
  <button id="openModalBtn">+ Add Deposition</button>
</div>

<div class="salestable-container">
  <table class="salestable">
    <thead>
    <tr>
      <th>S.no</th>
      <th>Deposition Amount</th>
      <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="deposit, index : ${deposits}">
      <td th:text="${index.index + 1}"></td>
      <td th:text="${deposit.depositionamount}"></td>
      <td th:text="${deposit.depositiondate}"></td>
    </tr>
    </tbody>
  </table>
</div>

<div class="modal" id="Modal">
  <button class="close-btn" id="closeModalBtn">&times;</button>
  <h3>Add New Deposition</h3>
  <form class="modalForm" th:action="@{/addDeposition}" method="post">
    <input type="number" name="depositionamount" placeholder="Amount" required>
    <input type="date" name="depositiondate" required>
    <button type="submit">Add Deposition</button>
  </form>
</div>
</body>
</html>